.body {
    background-color: #fff;
    color: rgba(0,0,0.8);
}

.ul {
    list-style: none;
}

.logo {
    color: #000000;
}

/*.site-nav*/
.site-nav .link {
    color: #2196F3;
}

/*.auth-nav*/
.auth-nav .link {
    color: #2196F3;
}
