:root {
    --primary-text-color: rgba(0,0,0.8);
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --background-white-color: #ffffff;
}


.body {
    background-color: var(--background-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    color: #000000;
}
.primary-logo {
    color: #2196F3;
}

.logo:hover, .logo:focus {
    color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,  
.site-nav .link:focus {
    color: #000000;   
}

.site-nav .link-2 {
    color: #212121;
}
.site-nav .link-secondary:hover,  
.site-nav .link-secondary:focus {
    color: var(--accent-color);   
}

/* Auth nav */
.auth-nav .link {
    color: var(--accent-color);
}
.auth-nav .link:hover,  
.auth-nav .link:focus {
    color: var(--primary-text-color);    
}

.auth-nav .link-secondary {
    color: var(--primary-text-color);
}
.auth-nav .link-secondary:hover,  
.auth-nav .link-secondary:focus {
    color: var(--accent-color)
}

/* Hero */
.hero-title {
    color: black;
}
.button {
    color: var(--title-text-color);
    background-color: var(--background-white-color);
}

.button-primary {
    color: var(--background-white-color);
    background-color: var(--accent-color);
}
/* Section */
.section-title {
    color: #000000;
}

/*Peculiarity list*/
.peculiarity-list .title {
    color: #000000;
}

