.body {
    background-color: #fff;
    color: rgba(0,0,0.8);
}

.ul {
    list-style: none;
}

.logo {
    color: #000000;
}
.logo:hover, .logo:focus {
    color: #2196F3;
}

/* Site nav */
.site-nav .link {
    color: #2196F3;
}
.site-nav .link:hover,  
.site-nav .link:focus {
    color: #000000;   
}

.site-nav .link-2 {
    color: #212121;
}
/* Auth nav */
.auth-nav .link {
    color: #2196F3;
}

.auth-nav .link-2:hover,  
.auth-nav .link-2:focus {
    color: #000000;    
}
.auth-nav .link-2 {
    color: #212121;
}